[client]
user=root 
socket=/usr/local/mysql/sock/cloud101.sock

[mysqld_safe]
#-------------------------------------------------------------
# environments
#-------------------------------------------------------------
#ledir                   = /MYSQL/cloud101/product/bin
#-------------------------------------------------------------
# log
#-------------------------------------------------------------
##error log
#log-error 		= /MYSQL/cloud101/log/cloud101.err


[mysqld]
#-------------------------------------------------------------
# environments
#-------------------------------------------------------------
user			    = mysql
port             	= 3301
socket           	= /usr/local/mysql/sock/cloud101.sock
#pid-file         	= /usr/local/mysql/sock/cloud101.pid
basedir          	= /MYSQL/cloud101
datadir          	= /MYSQL/cloud101/data
tmpdir           	= /MYSQL/cloud101/work/tmp
lc-messages-dir     = /usr/share/mysql
language            = /usr/share/mysql/english
plugin_dir          = /usr/lib64/mysql/plugin
performance_schema

#-------------------------------------------------------------
# character set
#-------------------------------------------------------------
character-set-server	= utf8mb4

#-------------------------------------------------------------
# fixed parameters
#-------------------------------------------------------------
max_connect_errors 	        = 65536
explicit_defaults_for_timestamp = 1
default_time_zone               = SYSTEM
secure_file_priv		= ""

#-------------------------------------------------------------
# log
#-------------------------------------------------------------
##binary log
log-bin          	  = /MYSQL/cloud101/binlog/binarylog
binlog_format    	  = ROW
sync_binlog	 	  = 1
log_bin_trust_function_creators = 1

##relay log
relay-log                = /MYSQL/cloud101/binlog/cloud101-relay-bin
relay-log-index          = /MYSQL/cloud101/binlog/cloud101-relay-bin.index
log_slave_updates

##slow query log
slow_query_log   	  = 1
long_query_time  	  = 1
slow_query_log_file 	  = /MYSQL/cloud101/log/slow-queries.log
log_slow_slave_statements = 1

##general query log
#general-log      	  = /usr/local/mysql/log/cloud101/access.log

#-------------------------------------------------------------
# connections
#-------------------------------------------------------------
max_allowed_packet			= 128M
max_connections				= 500
thread_cache_size			= 100 
#back_log				= 50

#-------------------------------------------------------------
# open files 
#-------------------------------------------------------------
# When used in a large number of table service,please change this value
# set to size of "table_cache*2+max_connection"
open_files_limit			= 3000
table_open_cache			= 2000

#-------------------------------------------------------------
# tempolary files
#-------------------------------------------------------------
tmp_table_size				= 64M
max_heap_table_size			= 64M

#-------------------------------------------------------------
# common buffers
#-------------------------------------------------------------
read_buffer_size        		= 512K
read_rnd_buffer_size    		= 512K
sort_buffer_size        		= 1M
join_buffer_size                        = 1M

#-------------------------------------------------------------
# for myisam engine
#-------------------------------------------------------------
#default-storage-engine                  = MyISAM
key_buffer_size        			= 128M
myisam_sort_buffer_size			= 128M
bulk_insert_buffer_size			= 64M
skip-external-locking

#-------------------------------------------------------------
# for innodb engine
#-------------------------------------------------------------
##general setting
default-storage-engine			= InnoDB 
innodb_strict_mode			= 1
innodb_data_home_dir      		= "/MYSQL/cloud101/innodb/"
innodb_data_file_path     		= "d1:256M:autoextend"
innodb_log_group_home_dir 		= /MYSQL/cloud101/innodb-log

##data file setting 
innodb_file_per_table			= 1
innodb_file_format			= barracuda
##if you use multiple tablespaces in InnoDB. It specifies the maximum number of .ibd files that InnoDB can keep open at one time. 
##please tuning.
innodb_open_files 			= 3000

##log file setting
innodb_log_files_in_group 		= 3
innodb_log_file_size			= 64M

##memory setting
innodb_buffer_pool_size 		= 1G
innodb_log_buffer_size			= 8M

##transaction setting
#transaction-isolation			= REPEATABLE-READ
#innodb_lock_wait_timeout		= 50
#innodb_doublewrite			= 1

##for mysql5.6
innodb_buffer_pool_filename             = innodb_buffer_pool.info
innodb_buffer_pool_dump_at_shutdown     = 1
innodb_buffer_pool_load_at_startup      = 1
innodb_stats_on_metadata                = ON

##optional setting for performance tuning
#innodb_flush_log_at_trx_commit		= 1
innodb_flush_method 			= O_DIRECT

#-------------------------------------------------------------
# query cache
#-------------------------------------------------------------
#query_cache_type			= 0
#query_cache_limit 			= 1M
#query_cache_size  			= 128M

#-------------------------------------------------------------
# memcached
#-------------------------------------------------------------
# daemon_memcached                       = OFF
#To use the InnoDB memcached plugin with the MySQL binary log, set the innodb_api_enable_binlog=1. default is disabled.
#innodb_api_enable_binlog               = 0

#-------------------------------------------------------------
# replication
#-------------------------------------------------------------
server_id = setup_dbq_id
# master_info_repository                  = TABLE
# relay_log_info_repository               = TABLE
# relay_log_recovery                      = ON

## semi-sync setting for master
# rpl_semi_sync_master                  = OFF
# rpl_semi_sync_master_enabled          = 0
# rpl_semi_sync_master_timeout          = 10000

## semi-sync setting for slave
# rpl_semi_sync_slave                   = OFF
# rpl_semi_sync_slave_enabled           = 0

## please set master-XXX param in "change master to.." command
#replicate-do-db=mondb
#replicate-do-db=
#report-host=
#skip-slave-start
#read_only


